<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo_gris_transparente.png" width="60" height="60" alt="">
  </a>
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Administrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mis Picks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Crear Quiniela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Invitar Amigos</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span class="user">Jerry Garcia</span>&nbsp;
      <button class="btn btn-outline-danger btn-sm my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
