<qh-header></qh-header>
<form [formGroup]="overallPointsForm" (ngSubmit)="getOverallPoints(overallPointsForm.value)">
        <div class="overallpointstable">
                 <div class="form-row align-items-center">
                      <button (click)="getPoints()">Al Momento</button>
                </div>
                <div class="form-row align-items-center">
                    <ul>
                        <li *ngFor="let pointslist of opointsMap"> 
                            {{pointslist.nombre}} 
                            {{pointslist.j1}} {{pointslist.j2}} {{pointslist.j3}} {{pointslist.j4}}
                            {{pointslist.j5}} {{pointslist.j6}} {{pointslist.j7}} {{pointslist.j8}}
                            {{pointslist.j9}} {{pointslist.j10}} {{pointslist.j11}} {{pointslist.j12}}
                            {{pointslist.j13}} {{pointslist.j14}} {{pointslist.j15}} {{pointslist.j16}}
                            {{pointslist.j17}}
                            {{pointslist.suma}} {{pointslist.maxpoints}}
                        </li>
                    </ul>
                </div>
                <div class="form-row align-items-center">
                  <button [disabled]="!theresalist" type="submit" class="btn btn-primary">Actualizar</button>
                </div>
              </div>
        </form>