<div style="text-align:center">
  <img width="300" src="../assets/img/logo_full-color_transparente.png">
</div>
<div *ngIf="auth.authState | async; let user; else showLogin">
  <!-- <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button> -->
</div>
<ng-template #showLogin>
  <div class="login-section">
    <p>Porfavor, inicia sesión con Facebook</p>
    <button class="btn btn-primary btn-block fb-login" (click)="login()">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      Login
    </button>
  </div>
</ng-template>
