<qh-header></qh-header>
<form [formGroup]="realtimeForm" (ngSubmit)="getRealTime(realtimeForm.value)">
<div class="realtimeTable">
         <div class="form-row align-items-center">
              <button (click)="getReal()">Al Momento</button>
        </div>
        <div class="form-row align-items-center">
            <ul>
                <li *ngFor="let pointslist of pointsMap"> {{pointslist.nombre}} {{pointslist.points}} {{pointslist.maxpoints}}</li>
            </ul>
        </div>
        <div class="form-row align-items-center">
          <button [disabled]="!theresalist" type="submit" class="btn btn-primary">Actualizar</button>
        </div>
      </div>
</form>